#lex_allcontent {
    font-family: Georgia, "Times New Roman", Times, serif;
    width: 800px;
}   
#lex_title {
    font-size: 30px;
}   
.lex_des {
    font-size: 20px;
    font-style: bold;
    color: blue;
}   
.lex_result_div {
    text-align: left;
}
.lex_result_span, #lex_lf {
    text-align: left;
}   
#lex_gap {
    border-style: outset;
    border-top-width: 10px;
    border-top-color: gray;
}   
#lex_copyright {
    margin-top: 60px;
    clear: both;
    font-size: 12px;
}   

